<head>
	<title>Chess Game</title>
	<meta charset="UTF-8"/>

	<!--   dependencies  -->
	<script src="/lib/jquery.js"></script>
	<script src="/socket.io/socket.io.js"></script>

	<!-- bootsrap.js -->
	<link rel="stylesheet" href="/lib/bootstrap.css" />
	<script src="/lib/bootstrap.js"></script>

	<link rel="stylesheet" href="/lib/app.css" />
	<script src="/lib/chess.js"></script>

</head>